@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Raleway:wght@300;400;500&display=swap');



html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Raleway', sans-serif; 
    color: #915236;
    line-height: 1.6;
    
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
}

img {
    width: 100%;
    height: 100%;
}


/* Utilities */
.container {
    max-width: 85%;
    margin: 0 auto;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    height: 100%
}

/* Navbar */


.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    font-size: 17px;
    font-weight: 600;
    z-index: 10;
   
}

.nav-colored { 
    background-color:rgba(251, 205, 190, 0.8); 
}

.nav-transparent { 
    background-color: transparent;
}

.navbar .flex {
    justify-content: space-between;
}

.logo-div img {
    width: 75px;
    height: 75px;
}

.navbar ul {
    display: flex;
}

.navbar a {
    padding: 10px;
    margin: 0 5px;
    color: #915236;
}

.navbar a:hover {
    color: #fff;
    border-bottom: 2px solid #fff;
}


.navbar .toggler {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 2;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
    visibility: hidden;
    border-radius: 5px;
}

.navbar .hamburger {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 1;
    width: 60px;
    height: 60px;
    padding: 1rem;
    background: rgb(251, 205, 190);
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    border-radius: 5px;
}

.navbar .hamburger > div {
    position: relative;
    width: 100%;
    height: 2.5px;
    background-color: #aa6d4f;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
}

.navbar .hamburger > div:before,
.navbar .hamburger > div:after {
    content: '';
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 2.5px;
    background: inherit;
}

.navbar .hamburger > div:after {
    top: 10px;
}

.navbar .toggler:checked + .hamburger > div {
    transform: rotate(135deg);
}

/* Turn lines into X */
.navbar .toggler:checked + .hamburger > div:before,
.navbar .toggler:checked + .hamburger > div:after {
    top: 0;
    transform: rotate(90deg);
}

/* Showcase */

.showcase {
    height: 650px;
    position: relative;
    background-color: rgb(251, 205, 190);
}

.showcase-content {
    position: absolute;
    left: 0;
    bottom: 0;
}

/* .showcase-content .grid {
    border: 2px solid red;
} 

.showcase-text {
    border: 2px solid green;
} */


.showcase-text h1 {
    font-size: 130px;
    font-family: 'DM Serif Display', serif;
    line-height: 1;
}

.showcase-text p {
    font-size: 20px;
    font-weight: 600;
}

.showcase-image {
    width: 545px;
    height: 590px;
    justify-self: flex-end;
    /* border: 2px solid black; */
}

.showcase-image img {
    width: 100%;
    height: 100%;
}

.social {
    position: absolute;
    bottom: 20px;
}

.social .container {
    display: flex;
}

.social a {
    padding: 0 10px;
    color: #915236;
    transition: 1s;
}

.social a:hover {
    transform: translateY(-10px);
}

/* About-section */

.about-section {
    position: relative;
    background-color: rgb(238, 238, 238);
    height: 700px;
}

.about-section-content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
}

.about-section-content.grid-3 {
    grid-template-columns: 35% 45% 20%;
}

.hand-image {
    width: 350px;
    height: 700px;
}

.logo-about {
    text-align: center;
}

.logo-about img {
    width: 350px;
    height: 350px;
}

.logo-about h1 {
    font-size: 90px;
    font-family: 'DM Serif Display', serif;
    line-height: 1;
    background-color: #915236;
    background-image: linear-gradient(to right, #fcb897, #aa6d4f);
    background-size: 100%;
    background-clip: border-box;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}

.btn {
    display: inline-block;
    padding: 10px 30px;
    cursor: pointer;
    border: none;
    color: #f1e0d7;
    background-color: #aa6d4f;
    border-radius: 5px;
    transition: 1s;
    margin-top: 10px;
}

.btn:hover {
    transform: scale(0.97);
}


@media(max-width: 768px) {

    .container {
        max-width: 95%;
    }


    .logo-div img {
        width: 65px;
        height: 65px;
    }

    .navbar .toggler {
        visibility: visible;
    }

    .navbar .hamburger {
        visibility: visible;
    }

    .navbar nav {
        position: absolute;
        top: 80px;
        right: 0;
        width: 100%;
        height: 350px;
        background-color:rgba(251, 205, 190, 0.9);
        z-index: 5;
        transform: translateX(100%);
    }

    .navbar ul {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

    .navbar ul li {
        padding: 15px 0;
    }

    .navbar .toggler:checked ~ nav {
        transform: translateX(0);
        transition: 0.4s;
    }

    .showcase-content {
        top: 100px;
        height: auto;
    }

    .showcase-content .grid {
        grid-template-columns: 1fr;
        gap: 40px;
    }

    .showcase-image {
        width: 350px;
        height: 75%;
        justify-self: center;
        align-self: flex-start;
        order: 2;
    }

    .showcase-text {
        width: 80%;
        margin: 0 auto;
        order: 1;
    }

    .showcase-text h1 {
        font-size: 35px;
    }

    .showcase-text p {
        font-size: 16px;
    }

    .about-section {
        height: 500px;
    }

    .about-section-content.grid-3 {
        grid-template-columns: 1fr;
    }

    .hand-image {
        position: absolute;
        top: 0;
        left: 0;
        visibility: hidden;
        z-index: 1;
    }

    .logo-about {
        z-index: 2;
    }

    .logo-about img {
        width: 200px;
        height: 200px;
    }
    
    .logo-about h1 {
        font-size: 30px;
    }
}