@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Raleway:wght@300;400;500&display=swap');



html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Raleway', sans-serif; 
    color: #915236;
    line-height: 1.6;   
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
}

img {
    width: 100%;
    height: 100%;
}


/* Utilities */
.container {
    max-width: 85%;
    margin: 0 auto;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    height: 100%
}

/* Navbar */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    font-size: 17px;
    font-weight: 600;
    z-index: 10;
   
}

.nav-colored { 
    background-color:rgba(251, 205, 190, 0.8); 
}

.nav-transparent { 
    background-color: transparent;
}

.navbar .flex {
    justify-content: space-between;
}

.logo-div img {
    width: 75px;
    height: 75px;
}

.navbar ul {
    display: flex;
}

.navbar a {
    padding: 10px;
    margin: 0 5px;
    color: #915236;
}

.navbar a:hover {
    color: #fff;
    border-bottom: 2px solid #fff;
}


.navbar .toggler {
    position: absolute;
    top: 7px;
    right: 15px;
    z-index: 2;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
    visibility: hidden;
    border-radius: 5px;
}

.navbar .hamburger {
    position: absolute;
    top: 7px;
    right: 15px;
    z-index: 1;
    width: 60px;
    height: 60px;
    padding: 1rem;
    background: rgb(251, 205, 190);
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    border-radius: 5px;
}

.navbar .hamburger > div {
    position: relative;
    width: 100%;
    height: 2.5px;
    background-color: #aa6d4f;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
}

.navbar .hamburger > div:before,
.navbar .hamburger > div:after {
    content: '';
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 2.5px;
    background: inherit;
}

.navbar .hamburger > div:after {
    top: 10px;
}

.navbar .toggler:checked + .hamburger > div {
    transform: rotate(135deg);
}

/* Turn lines into X */
.navbar .toggler:checked + .hamburger > div:before,
.navbar .toggler:checked + .hamburger > div:after {
    top: 0;
    transform: rotate(90deg);
}

/* Showcase */

.showcase {
    height: 700px;
    position: relative;
    background-color: rgb(251, 205, 190);
    background-image: url('images/bg-1-min.jpg'), url('images/bg-1.png');
    background-repeat: no-repeat;
    background-size: 100%;
    -ms-background-size: 100%;
    -o-background-size: 100%;
    -moz-background-size: 100%;
    -webkit-background-size: 100%;
    z-index: 1;
}

.showcase-content {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 90%;
}

.showcase-image {
    justify-self: center;
    align-self: flex-end;
}

.showcase-image img {
    width: 100%;
    height: 100%;
}

.showcase-text {
    padding-bottom: 200px;    
} 

.showcase-text h1 {
    font-size: 130px;
    font-family: 'DM Serif Display', serif;
    line-height: 1;
}

.showcase-text p {
    font-size: 20px;
    font-weight: 600;
    animation: slideInFromRight 1s ease-in; 
}

.social {
    position: absolute;
    bottom: 20px;
    right: 10px;
}

.social .container {
    display: flex;
}

.social a {
    padding: 0 10px;
    color: #915236;
    transition: 1s;
}

.social a:hover {
    transform: translateY(-10px);
}

/* About-section */

.about-section {
    position: relative;
    background-color: rgb(0, 0, 0);
    height: 700px;
    background-image: url('images/about-bg-min.jpg'), url('images/about-bg-min.png');
    background-repeat: no-repeat;
    background-size: 100%;
    -ms-background-size: 100%;
    -o-background-size: 100%;
    -moz-background-size: 100%;
    -webkit-background-size: 100%;
    z-index: 2;
}

.about-section-content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
}

.logo-about {
    text-align: center;
    
}

.logo-about img {
    width: 350px;
    height: 350px;
    background-image: url('images/goldhc1.png');
    background-repeat: no-repeat;
    background-size: 100%;
}

.about-text {
    text-align: center;
}
 
.about-section-content h1 {
    font-size: 90px;
    font-family: 'DM Serif Display', serif;
    padding-bottom: 20px;
    line-height: 1;
    background-color: #915236;
    text-align: center;
    background-image: linear-gradient(to right, #fcb897, #aa6d4f);
    background-size: 100%;
    background-clip: border-box;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}

.about-section-content p {
    color: #fff;
    text-align: justify;
    padding-bottom: 20px;
}

.btn {
    display: inline-block;
    padding: 10px 30px;
    cursor: pointer;
    border: none;
    color: #f1e0d7;
    background-color: #aa6d4f;
    border-radius: 5px;
    transition: 1s;
    margin-top: 10px;
}

.btn:hover {
    transform: scale(0.97);
}


/* Skin section */
.skin-section {
    height: 700px;
    background: url("images/skin-bg.jpg"), url('images/skin-bg.png');
    background-color: rgb(238, 238, 238);
    background-repeat: no-repeat;
    background-attachment: fixed;
    -o-background-size: 100%;
    -moz-background-size: 100%;
    -webkit-background-size: 100%;
}


.skin-content .grid-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.skin-content h1 {
    text-align: center;
    font-family: 'DM Serif Display', serif;
    font-size: 70px;
    color: #4b281a;
    padding: 20px 0;
}

.skin-content h2 {
    text-transform: uppercase;
    text-align: center;
    color: #4b281a;
    font-size: 30px;
    letter-spacing: 2px;
    transition: 0.3s;
}

.skin-content h2:hover {
    letter-spacing: 6px;
}


.skin img:hover {   
	opacity: 1;
	-webkit-animation: flash 1.5s;
	animation: flash 1.5s;
}

@-webkit-keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}
@keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}

.site-footer {
    background-color:rgb(251, 205, 190);
    padding: 45px 0 0;
    font-size: 15px;
    line-height: 24px;
  }

  .footer-row {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 50px;
  }

.site-footer hr {
    margin-top: 15px;
    border-top-color:#915236;
    opacity:0.5
 }


.site-footer h6 {
    color: #4b281a;
    font-size:16px;
    text-transform:uppercase;
    margin-top:5px;
    letter-spacing:2px
}

.site-footer a {
    color: #915236;
}

.site-footer a:hover {
    color:#fff;
    text-decoration: none;
}

.footer-about {
    text-align: justify;
}

.footer-links {
    padding-left: 0;
    list-style: none;
}

.footer-links li {
    display: block;
}

.footer-links a {
    color:#915236;
}
.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
    color:#fff;
    text-decoration:none;
}

.footer-links.inline li {
    display:inline-block
}

.site-footer .social-icons {
    text-align:right
}

.site-footer .social-icons a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-left: 6px;
    margin-right:0;
    border-radius: 100%;
    background-color: #915236;
    color:rgb(251, 205, 190);
}

.sec-footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.copyright-text {
    padding-top: 20px;
}

.social-icons {
    padding-top: 20px;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.social-icons li {
  display: inline-block;
  margin-bottom: 4px;
}

.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color:#96a2b2;
  font-weight: 700;
  font-size: 13px;
}

.social-icons a {
    background-color:#eceeef;
    color:#818a91;
    font-size: 16px;
    display: inline-block;
    line-height: 44px;
    width: 44px;
    height: 44px;
    text-align: center;
    margin-right: 8px;
    border-radius: 100%;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}

.social-icons a:active,.social-icons a:focus,.social-icons a:hover {
    color:#fff;
    background-color:#29aafe;
}

.social-icons a.facebook:hover {
  background-color:#3b5998;
}

.social-icons a.twitter:hover {
  background-color:#00aced;
}

.social-icons a.instagram:hover {
  background-color:#b60037;
}

.social-icons a.snapchat:hover {
  background-color:#eae04c;
}


/* About Page */

.about-showcase {
    height: 450px;
    position: relative;
    background-color: rgb(251, 205, 190);
    margin-top: 70px;
}

.about-showcase .navbar {
    background-color: rgb(251, 205, 190);
}

.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 2;
}

.about-showcase .social a {
    z-index: 5;
    color:rgb(251, 205, 190);
}

.about-showcase-content {
    color: #fff;
    font-size: 40px;
    position: absolute;
    top: 0;
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    z-index: 4;
}

.about-info {
    margin-top: 50px;
}

.about-info .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.info-text {
    text-align: justify;
    line-height: 1.9;
}

.info-text h1 {
    font-size: 35px;
    text-align: left;
    line-height: 1.2;
    padding-bottom: 10px;
}

.info-text hr {
    visibility: hidden; 
    padding-bottom: 10px;
}

.testimonials .container {
    margin-top: 50px;
    margin-bottom: 50px;
}

.testimonials h1 {
    text-align: center;
    font-size: 35px;
}

.carousel {
    background: #EEE;
  }
  
.carousel-cell {
    width: 66%;
    height: 400px;
    margin-right: 10px;
    background: rgb(251, 205, 190);
    border-radius: 5px;
    counter-increment: carousel-cell;
  }


  /* Products Page */
  .products-showcase {
    height: 450px;
    position: relative;
    background-color: rgb(251, 205, 190);
    margin-top: 70px;
}

.products-showcase .navbar {
    background-color: rgb(251, 205, 190);
}


.products-showcase .social a {
    z-index: 5;
    color:rgb(251, 205, 190);
}

.products-showcase-content {
    color: #fff;
    font-size: 40px;
    position: absolute;
    top: 0;
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    z-index: 4;
}

.products {
    margin-top: 50px;
}

.products .container {
    max-width: 95%;
}

.products h1 {
    font-size: 35px;
    text-align: center;
    padding-bottom: 20px;
}

.products h5 {
    font-size: 20px;
}

.product-range {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    height: 100%;
    justify-content: center;
}

.product-item {
    width: 300px;
    height: 350px;
    text-align: center;
}
.product-item .item {
    width: 300px;
    height: 300px;
    margin-bottom: 0;
}

.product-item .item img {
    width: 100%;
    height: 100%;
}

.item-info {
    margin-top: 0;
    border: 1px solid rgb(251, 205, 190);
}


  /* Media Queries */

@media (max-width: 1024px) {
   
    .showcase-content {
        height: 85%;
    }
   
    .showcase-text {
        padding-bottom: 50px;
    }
}

@media (max-width: 768px) {

    .container {
        max-width: 95%;
    }


    .logo-div img {
        width: 65px;
        height: 65px;
    }

    .navbar {
        height: 75px;
    }

    .navbar .toggler {
        visibility: visible;
    }

    .navbar .hamburger {
        visibility: visible;
    }

    .navbar nav {
        position: absolute;
        top: 80px;
        right: 0;
        width: 100%;
        height: 350px;
        background-color:rgba(251, 205, 190, 0.9);
        z-index: 5;
        transform: translateX(100%);
    }

    .navbar ul {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

    .navbar ul li {
        padding: 15px 0;
    }

    .navbar .toggler:checked ~ nav {
        transform: translateX(0);
        transition: 0.4s;
    }

    .showcase-content {
        top: 100px;
        height: auto;
    }

    .showcase-content .grid {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .showcase-image {
        justify-self: center;
        align-self: flex-end;
        order: 2;
    }

    .showcase-text {
        width: 90%;
        padding-bottom: 0;
        margin: 0 auto;
        order: 1;
    }

    .showcase-text h1 {
        font-size: 35px;
    }

    .showcase-text p {
        font-size: 16px;
    }

    .about-section-content .grid {
        grid-template-columns: 1fr;
    }

    .logo-about img {
        width: 200px;
        height: 200px;
    }
    
    .about-section-content h1 {
        font-size: 40px;
    }

    .core-values {
        width: 95%;
    }

    .btn {
        margin-bottom: 10px;
    }

    .skin-content .grid-3 {
        grid-template-columns: 1fr;
    }

    .skin-section {
        height: auto;
    }

    .skin-content h1 {
        font-size: 35px;
    }

    .skin-content h2 {
        font-size: 25px;
    }

    .about-showcase,
    .products-showcase {
        height: 270px;
    }

    .about-showcase-content {
        font-size: 30px;
    }

    .about-info .content {
        grid-template-columns: 1fr;
        gap: 40px;
    }

    .info-text h1,
    .products h1 {
        font-size: 30px;
    }

    .info-text-1 {
        order: 1;
    }

    .info-img-1 {
        order: 2;
    }

    .info-text-2 {
        order: 3;
    }

    .info-img-2 {
        order: 4;
    }

    .carousel-cell {
        height: 250px;
    }

    .products-showcase-content {
        font-size: 30px;
    }

    .site-footer {
        height: auto;
        padding-bottom: 0;
      }

    .site-footer .copyright-text,.site-footer .social-icons {
        text-align:center
      }

    .social-icons li.title {
        display: block;
        margin-right: 0;
        font-weight: 600;
      }

    .footer-row {
        grid-template-columns: 1fr;
    }

    .copyright-text, .social-icons {
        padding-top: 7px;
    }

}

@media (max-width: 500px) {
    
    .showcase-content {
        top: 130px;
    }

    .showcase-content .grid {
        gap: 40px;
    }

    .social .container {
        flex-direction: column;
    }
    
    .social a {
        padding: 5px 0;
    }
}
